
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Enter search term:
<input TextBox ID="txtSearch" runat="server" />
<asp:HiddenField ID="hfCustomerId" runat="server" />
<Button ID="Button1" Text="Submit" runat="server" OnClick="Submit" />

<h2>This is Home Screen</h2>
